<link rel="stylesheet" href="/public/assets/footer.css">
<div class="footer">
    <p>Created by Anurag Bhattacharya, Marisa D'Cruze, Vaishali Siddeshwar, Joseph Volpe, Arpit Shukla, Aashi Sinha, Prajwal Regmi</p>
    <p>Date: 2022</p>
</div>

