<link rel="stylesheet" href="/public/assets/navbar.css" />
<div class="topnav">
    <a href="/">Home</a>
    <a href="#Profile">Profile</a>
    <a href="/checklist/get">Checklist</a>
    <a href="#Grader">Grader</a>
    <a href="#Calendar">Calendar</a>
    <a href="#Tutorial">Tutorial</a>
    <a href="/">Logout</a>
</div>