<link rel="stylesheet" href="/public/assets/navbar.css" />
<div class="topnav">
    <a href="/">Home</a>
    <a href="/user/profile">Profile</a>
    <a href="/checklist/get">Checklist</a>
    <a href="#Grader">Grader</a>
    <a href="/calender/">Calendar</a>
    <a href="/tutorial/get">Tutorial</a>
    <a href="/user/logout">Logout</a>
</div>