<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-signin-client_id" content="781995421050-jp2l72lr8r149ng5a8ft530q0mblnmc6.apps.googleusercontent.com">
<title>Home and Login Page</title>
<link rel="stylesheet" href="/public/assets/styles.css"/>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="../public/JavaScript/googleSignIn.js"></script>
<div>
    <%- include('partials/navbar') %>
</div>
<div class="main-content">
    <h1>Welcome to the All in One Study Application</h1>
    <p>This application will help students and teachers stay organized during their studies</p>
    <img src="/public/images/logo.jfif" />
    <p></p>
    <%- include('partials/error') %>
    <form name="loginForm" id="loginForm" action="/user/profile" method="post">
        <p>User Name:</p>
        <input type="text" id="username" name="username" placeholder="Enter your username" required >
        <p>Password:</p>
        <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="4">
        <br />
        <p></p>
        <button type="submit" id="submit" value="Submit">Submit</button>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <br />
        <p>If you do not have an account:</p>
        <a href="/user/register">Sign Up</a>
    </form>
</div>
<div>
    <%- include('partials/footer') %>
</div>
