<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Grader Page</title>
<div>
    <%- include('partials/navbar') %>
</div>
<div>
    <h1>My Grades: <%= grades %></h1>
    <!--Here will do a for loop to go through the grades for the user and display Course, Grade and Mark-->
</div>
<div>
    <%- include('partials/footer') %>
</div>